*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
p {
    line-height: 24px;
}
main {
    width: 1200px;
    margin: 50px auto;
}
.top-section {
    display : flex;
    justify-content : space-between;
    margin-bottom: 24px;
}
.top-section img {
    width: 50%;
}
.top-content {
    padding-right: 100px;
}
.top-content h1 {
    margin-bottom: 24px;
}
.top-content p {
    margin-bottom: 24px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.services h2 {
    margin-bottom: 24px;
}
.services h3 {
    margin-bottom: 12px;
}